h1 {
    color: blue;
    font-size: 24px;
    font-family: 'Roboto Mono', monospace;
    text-align: center;
    text-transform: uppercase;
}

img {
    float: left;
    width: 30%;
    margin: 1.66%;

    /* 1.66% + 30% + 1.66% + 1.66% + 30% +
        1.66% + 1.66% + 30% + 1.66%*/

    /* margin-left + img + margin-right + margin-left +
        img + margin-right + margin-left + img + margin-right*/
}

hr {
    border: 0;
    height: 0;
    box-shadow: 0 0 10px 1px black;
    width: 40%;
    margin: auto;
}

hr:after {
    content: "\00a0";
}
